%h1.text-muted.text-center= t('statistics_dashboard')
%table.table.text-center
  %thead
    %tr
      %th{:scope => "col"}= t('users')
      %th{:scope => "col"}= t('public_questions') 
      %th{:scope => "col"}= t('private_questions') 
      %th{:scope => "col"}= t('answers') 
      %th{:scope => "col"}= t('tenants') 
  %tbody
    %tr
      %td= @users
      %td= @public_questions
      %td= @private_questions
      %td= @answers
      %td= @tenants_count
%h1.text-muted.text-center= t('tenant_requests') 
%table.table.text-center
  %thead
    %tr
      %th{:scope => "col"}= t('tenant_name') 
      %th{:scope => "col"}= t('tenant_id') 
      %th{:scope => "col"}= t('number_of_requests') 
  %tbody
    - @tenants.each do |tenant|
      %tr
        %td= tenant.name
        %td= tenant.id
        %td= tenant.request_count
