%h1.text-muted.text-center Statistics Dashboard
%table.table.text-center
  %thead
    %tr
      %th{:scope => "col"} Category:
      %th{:scope => "col"} Users
      %th{:scope => "col"} Public Questions
      %th{:scope => "col"} Private Questions
      %th{:scope => "col"} Answers
      %th{:scope => "col"} Tenants
  %tbody
    %tr
      %th{:scope => "row"} Count:
      %td= @users
      %td= @public_questions
      %td= @private_questions
      %td= @answers
      %td= @tenants_count
%h1.text-muted.text-center Tenant Requests
%table.table.text-center
  %thead
    %tr
      %th{:scope => "col"} Tenant Name
      %th{:scope => "col"} Tenant ID
      %th{:scope => "col"} Number of Requests
  %tbody
    - @tenants.each do |tenant|
      %tr
        %td= tenant.name
        %td= tenant.id
        %td= tenant.request_count
